<div class="aislepilot-card-compact-meta">
    <span class="aislepilot-card-meta-pill" data-special-treat-badge>
        <span class="aislepilot-symbol-glyph" aria-hidden="true">
            <svg viewBox="0 0 24 24" focusable="false">
                <path d="m12 3 2.6 5.3 5.9.9-4.2 4.1 1 5.8-5.3-2.8-5.3 2.8 1-5.8-4.2-4.1 5.9-.9z"></path>
            </svg>
        </span>
        Treat meal
    </span>
</div>
