@{
    ViewData["Title"] = "Admin Login";
}

<h2>Admin Login</h2>

<form asp-controller="Admin" asp-action="Login" method="post">
    <div asp-validation-summary="ModelOnly" class="validation-summary-errors"></div>
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required autocapitalize="off" autocorrect="off" spellcheck="false" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
    </div>
    <button type="submit">Login</button>
    @Html.AntiForgeryToken()
</form>
