@model IEnumerable<BlogPost>
<h1>My Blog</h1>
@foreach (var post in Model)
{
    <div class="mb-4">
        <h3><a asp-action="Post" asp-route-slug="@post.Id">@post.Title</a></h3>
        <p class="text-muted">@post.DatePosted.ToString("MMMM dd, yyyy")</p>
    </div>
}